.leftradio
{
    float: left;
background: url('../img/jsNav.png') no-repeat;
width: 5px;
height: 30px;
    }
    
 .rightradio
{
   float: left;
background: url('../img/jsNav.png') top right no-repeat;
width: 7px;
height: 30px;
    }

.banner {
	POSITION: relative; WIDTH: 980px; 
	padding:0;
}
.banner a
{
    color: #333;
    text-decoration:none;
}
.jsNav {
	
	
}
.jsscroll
{
    float: left;
background: #F6F6F6;
border-top: 1px #C3C3C3 solid;
border-bottom: 1px #C3C3C3 solid;
height: 28px;
    }
.prevBtn {
	BACKGROUND: url(../img/jsNav.png) no-repeat
}
.nextBtn {
	BACKGROUND: url(../img/jsNav.png) no-repeat
}
.imgSelected {
	BACKGROUND: url(../img/jsNav.png) no-repeat
}
.jsNav {
	POSITION: absolute; BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px; RIGHT: 10px; FONT-WEIGHT: bold
}
.jsNav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; 
	WIDTH: 15px; FLOAT: left; VERTICAL-ALIGN: middle;
	padding-right: 4px;
padding-left: 4px;
}
.prevBtn {
	DISPLAY: block; BACKGROUND-POSITION: 0px -30px; HEIGHT: 30px
}
.nextBtn {
	DISPLAY: block; BACKGROUND-POSITION: -100px -30px; HEIGHT: 30px
}
.imgSelected {
	BACKGROUND-POSITION: 1px -60px; COLOR: #000
}
