<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="2147483647" enableVersionHeader="false" requestValidationMode="2.0" />
    </system.web>
  <appSettings>
    <!--是否记录sql语句-->
    <add key="IsTraceSQL" value="false" />
  </appSettings>
  <connectionStrings>
    <!--Demo-->
    <!--<add name="EVNconnectionString" connectionString="PMb5758lh1RBbGHHHh1KI9th5aE/OunGPpFIUmppbOTjL91gSsYumEK4tsgnXcyomUqrmSY2qjL5HPUwotxaiHOs/BxPwzTAskxUAIAzd8Rah6SInd6rSqFOw3s7uzpe3lmeT0aqexulUYSWcyoh7zHz2AmveZUs" providerName="System.Data.SqlClient" />-->
    <!--开发-->
    <!--<add name="EVNconnectionString" connectionString="PMb5758lh1RBbGHHHh1KI9th5aE/OunGPpFIUmppbOTjL91gSsYumEK4tsgnXcyoKpJ9POa0blvF/4m50fX85pqTrgTY9y1fNN52LzsDecHcwKqezXBTMskAi6pjhmY/OfgIe+/Wu89yQZZ2fSMfQjLdI7CfJB/p" providerName="System.Data.SqlClient"/>-->
    <!--测试-->
    <!--<add name="EVNconnectionString" connectionString="PMb5758lh1RBbGHHHh1KI9th5aE/OunGPpFIUmppbOTjL91gSsYumEK4tsgnXcyocI0gAZoyBEf5HPUwotxaiHOs/BxPwzTAskxUAIAzd8Rah6SInd6rSqFOw3s7uzpe3lmeT0aqexulUYSWcyoh7zHz2AmveZUs" providerName="System.Data.SqlClient"/>-->
    <!--正式-->
    <!--<add name="EVNconnectionString" connectionString="PMb5758lh1RBbGHHHh1KI+tGc9PMu6yEPpFIUmppbOTjL91gSsYumEK4tsgnXcyoKpJ9POa0blsvNS/8QE2903Y9ddit+z0gj9tIXOkIwteA1nhSZdpKz+SSkOQCYppJn6tCiigDE26XYsZsvb6fz38lAT3xsGqD" providerName="System.Data.SqlClient"/>-->
    <!--172.16.112.241-->
    <add name="EVNconnectionString" connectionString="PMb5758lh1RBbGHHHh1KI14zcHINNI5y63L3fUUBpjvBUeIoPrMgtA769CUlqW14rUmyfFuvFBVKt0/FjxfgDKSetArhzblwWyjICUxnX2ybtATiim0G22aj3qiEEI4U9X1tubfLxwfLQoTAqmT9cg==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
